/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        // Override sticky layer default timeout (wait indefinitely until key press)

        /omit-if-no-ref/

        sl: sticky_layer {
            compatible = "zmk,behavior-sticky-key";
            #binding-cells = <1>;
            bindings = <&mo>;
            release-after-ms = <5000>;  // 5 seconds timeout (increase if needed)
            quick-release;              // Release immediately after key press
        };

        // Hold-tap behavior: tap = one-shot layer (sl), hold = momentary layer (mo)

        ht_layer: hold_tap_layer {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&mo>, <&sl>;
        };

        // Hold-tap behavior for Tab: tap = TAB, hold = activate NUM layer (layer 1)

        ht_tab: hold_tap_tab {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&mo>, <&kp>;
        };

        long_press: long_press {
            compatible = "zmk,behavior-hold-tap";
            label = "LONG_PRESS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <350>;
            flavor = "tap-preferred";
        };

        hmr_r: hmr_r {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_R";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-trigger-on-release;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 2 3 4>;
        };

        hmr_l: hmr_l {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_L";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-trigger-on-release;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
        };
    };

    combos {
        compatible = "zmk,combos";

        open_parent {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <4 5>;
        };

        close_parent {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <6 7>;
        };

        open_brace {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <16 17>;
        };

        close_brace {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <18 19>;
        };

        open_bracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <28 29>;
        };

        close_bracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <30 31>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "BASE";

            //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
            //│  TAB     │  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │  CTRL    │
            //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  ESC     │  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │  ;       │  '       │
            //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  SHIFT   │  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │  ,       │  .       │  /       │ ENTER    │
            //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
            //                                 │  ALT     │  GUI     │  SPACE   │   │  BSPC    │  OSL1    │  OSL2    │
            //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯

            bindings = <
&ht_tab 1 ESC  &long_press LC(LEFT_ARROW) Q  &kp W  &long_press E LC(RIGHT_ARROW)  &kp R                  &long_press LG(T) T    &kp Y     &kp U                   &kp I              &kp O    &long_press LG(P) P  &kp RCTRL
&kp TAB        &kp A                         &kp S  &hmr_l LEFT_ALT D              &hmr_l LEFT_COMMAND F  &kp G                  &kp H     &hmr_r RIGHT_COMMAND J  &hmr_r LEFT_ALT K  &kp L    &kp SEMI             &kp SQT
&kp RSHFT      &kp Z                         &kp X  &long_press LG(C) C            &long_press LG(V) V    &kp B                  &kp N     &kp M                   &kp COMMA          &kp DOT  &kp FSLH             &kp RET
                                                    &kp LALT                       &kp RGUI               &kp SPACE              &kp BSPC  &ht_layer 1 1           &ht_layer 2 2
            >;
        };

        number_layer {
            label = "NUM";

            //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
            //│  ▽       │  `       │          │          │          │          │   │          │  -       │  =       │  [       │  ]       │  ▽ CTRL  │
            //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  ▽       │  1       │  2       │  3       │  4       │  5       │   │  6       │  7       │  8       │  9       │  0       │  ▽       │
            //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  ▽       │  \       │          │          │          │          │   │          │          │  ▽       │  ▽       │  ▽       │  ▽       │
            //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
            //                                 │  ▽       │  ▽       │  ▽       │   │  ▽ BSPC  │  ▽ OSL1  │  OSL3    │
            //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯

            bindings = <
&trans  &kp N1     &kp N2  &kp N3  &kp N4  &kp N5       &kp N6          &kp N7          &kp N8         &kp N9     &kp N0  &trans
&trans  &kp GRAVE  &none   &none   &none   &none        &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW   &kp RIGHT  &none   &trans
&trans  &kp BSLH   &none   &none   &none   &kp MINUS    &kp EQUAL       &none           &trans         &trans     &trans  &trans
                           &trans  &trans  &trans       &kp DEL         &trans          &ht_layer 3 3
            >;
        };

        symbol_layer {
            label = "SYMBOL";

            //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
            //│          │  !       │  @       │  #       │  $       │  %       │   │  ^       │  &       │  *       │  ?       │  '       │          │
            //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            //│          │  +       │  =       │  (       │  )       │  "       │   │  :       │  ]       │  [       │  }       │  {       │          │
            //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            //│          │  <       │  |       │  -       │  >       │  \       │   │  `       │  _       │  /       │  ~       │  ;       │          │
            //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
            //                                 │          │          │          │   │  ▽ BSPC  │  ▽ OSL1  │          │
            //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯

            bindings = <
&none  &kp EXCL  &kp AT     &kp HASH   &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS       &kp ASTRK  &kp QMARK  &kp SQT   &none
&none  &kp PLUS  &kp EQUAL  &kp LPAR   &kp RPAR  &kp DQT      &kp COLON  &kp RBKT       &kp LBKT   &kp RBRC   &kp LBRC  &none
&none  &kp LT    &kp PIPE   &kp MINUS  &kp GT    &kp BSLH     &kp GRAVE  &kp UNDER      &kp FSLH   &kp TILDE  &kp SEMI  &none
                            &trans     &trans    &trans       &trans     &ht_layer 3 3  &trans
            >;
        };

        fn_layer {
            label = "FN + NAV";

            //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
            //│  BT CLR  │  BT 0    │  BT 1    │  BT 2    │  BT 3    │  BT 4    │   │          │          │          │          │  PG UP   │  HOME    │
            //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            //│          │          │  F5      │  F6      │  F7      │  F8      │   │  ←       │  ↓       │  ↑       │  →       │          │  END     │
            //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  ▽       │          │  F9      │  F10     │  F11     │  F12     │   │  PG DN   │  F1      │  F2      │  F3      │  F4      │          │
            //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
            //                                 │  ▽       │  ▽       │  ▽       │   │  ▽ BSPC  │  OSL3    │  ▽ OSL2  │
            //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯

            bindings = <
&none   &kp F1      &kp F2        &kp F3        &kp F4        &kp F5          &kp F6     &kp F7    &kp F8  &kp F9     &kp F10  &kp HOME
&none   &kp F11     &kp F12       &none         &none         &none           &kp LEFT   &kp DOWN  &kp UP  &kp RIGHT  &none    &kp END
&trans  &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &kp PG_DN  &none     &none   &none      &none    &none
                                  &trans        &trans        &trans          &trans     &none     &none
            >;
        };
    };
};
